Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy
  entry: uv run mypy
  pass_filenames: true
  require_serial: true
  args: []
  language: system

pyright:
  name: pyright
  entry: uv run pyright
  pass_filenames: true
  args: []
  language: system

perf: cache model fields
  polyfactory/factories/attrs_factory.py
  polyfactory/factories/base.py
  polyfactory/factories/dataclass_factory.py
  polyfactory/factories/msgspec_factory.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/factories/typed_dict_factory.py
  polyfactory/field_meta.py
Due: mypy, pyright

feat: support python 3.14
  .github/workflows/ci.yml
Due: none

feat: support python 3.14
  polyfactory/factories/pydantic_factory.py
  pyproject.toml
  tests/test_msgspec_factory.py
  tests/test_pydantic_v1_v2.py
  uv.lock
Due: mypy, pyright

feat: support python 3.14
  .github/workflows/ci.yml
  uv.lock
Due: none

Skip association proxy creation if `creator` is not specified
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/models.py
  tests/sqlalchemy_factory/test_association_proxy.py
Due: mypy, pyright

Reduced complexity of `get_model_fields` method
  polyfactory/factories/sqlalchemy_factory.py
Due: mypy, pyright

fix: update msgspec
  pyproject.toml
  tests/test_msgspec_factory.py
  uv.lock
Due: mypy

Revert "feat: support python 3.14"
  .github/workflows/ci.yml
Due: none

fix: expand ci excludes
  .github/workflows/ci.yml
Due: none

fix: pin hypothesis version
  .github/workflows/ci.yml
Due: none

fix: update ci excludes
  .github/workflows/ci.yml
Due: none

fix: Skip association proxy creation if creator is not specified (#788)
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/models.py
  tests/sqlalchemy_factory/test_association_proxy.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@637e731bd17228ea18da2b82d44be9fcb2d9e6ff 🚀
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
  latest/reference/pytest_plugin.html
Due: none

docs: fix typo in changelog.rst
  docs/changelog.rst
Due: none

feat: support python 3.14 (#779)
  .github/workflows/ci.yml
  polyfactory/factories/pydantic_factory.py
  pyproject.toml
  tests/test_pydantic_v1_v2.py
  uv.lock
Due: mypy, pyright

docs: fix typo in changelog.rst (#791)
  docs/changelog.rst
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@2ca85741f1875c7f88012910a282706b19cc670a 🚀
  latest/_sources/changelog.rst.txt
  latest/changelog.html
  latest/searchindex.js
Due: none

chore: prepare v3.1.0 release
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore: prepare v3.1.0 release (#792)
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Respect `init` parameter for SQLAlchemy dataclasses
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_v2.py
Due: mypy, pyright

Remove unused models
  tests/sqlalchemy_factory/test_sqlalchemy_factory_v2.py
Due: mypy

chore: remove unused models (#794)
  tests/sqlalchemy_factory/test_sqlalchemy_factory_v2.py
Due: mypy

Add missing import
  tests/sqlalchemy_factory/test_sqlalchemy_factory_v2.py
Due: mypy

fix: Respect `init` parameter for SQLAlchemy dataclasses (#793)
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_v2.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@a05f7e6ecadbbeba78eacfa4154b12db756e139a 🚀
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
  latest/reference/pytest_plugin.html
Due: none

refactor: update pre-commit
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  polyfactory/factories/base.py
  polyfactory/factories/beanie_odm_factory.py
  polyfactory/pytest_plugin.py
  polyfactory/utils/predicates.py
  polyfactory/value_generators/regex.py
  tests/test_attrs_factory.py
Due: mypy, pyright

feat: migrate to prek
  .github/workflows/ci.yml
  CONTRIBUTING.rst
  Makefile
  polyfactory/utils/predicates.py
  pyproject.toml
  uv.lock
Due: mypy, pyright

refactor: update pre-commit (#797)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  CONTRIBUTING.rst
  Makefile
  polyfactory/factories/base.py
  polyfactory/factories/beanie_odm_factory.py
  polyfactory/pytest_plugin.py
  polyfactory/value_generators/regex.py
  pyproject.toml
  tests/test_attrs_factory.py
  uv.lock
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@f0440edc722824dd50831bb4458895b1b622e71b 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/polyfactory/factories/beanie_odm_factory.html
  latest/_modules/polyfactory/pytest_plugin.html
  latest/contribution-guide.html
  latest/searchindex.js
Due: none

refactor: remove from build context
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

feat: support pydantic by_name
  docs/examples/configuration/test_example_12.py
  docs/usage/configuration.rst
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

Add support for Computed fields
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/models.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Fixed potentially insecure test case
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy

Add `scoped_session` and `async_scoped_session` to type annotations
  polyfactory/factories/sqlalchemy_factory.py
Due: mypy, pyright

Path conditions:
  mypy: any of: \.py$, but not: test_decimal_constraints|examples/fields/test_example_2|examples/configuration|tools/
  pyright: any of: \.py$, but not: tests
