Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy
  entry: uv run mypy
  pass_filenames: true
  require_serial: true
  args: []
  language: system

pyright:
  name: pyright
  entry: uv run pyright
  pass_filenames: true
  args: []
  language: system

fix: ruff
  polyfactory/utils/normalize_type.py
  tests/utils/test_normalize_type.py
Due: mypy, pyright

fix: Generate correct collection size when annotation_types.Len is used (#712)
  polyfactory/factories/pydantic_factory.py
  polyfactory/value_generators/constrained_collections.py
  tests/test_collection_length.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@dbcf79db38fffdcae7599b5cd2806261ab58fd79 🚀
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/_modules/polyfactory/value_generators/constrained_collections.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@0cd86d2bf93efaddc1c994e21ead4714273182ec 🚀
  latest/searchindex.js
Due: none

chore: remove unused script
  .pre-commit-config.yaml
  tools/build_docs.py
  tools/convert_docs.sh
Due: pyright

fix: no blank children names (#666)
  polyfactory/factories/pydantic_factory.py
  polyfactory/field_meta.py
  polyfactory/utils/helpers.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@216b8a50451f01a49967bcc7e028a5e0803a108c 🚀
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/_modules/polyfactory/field_meta.html
  latest/searchindex.js
Due: none

feat: add PEP 695 type alias support and improve type handling (#711)
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/field_meta.py
  polyfactory/utils/normalize_type.py
  polyfactory/utils/predicates.py
  tests/test_dataclass_factory.py
  tests/test_pydantic_factory.py
  tests/utils/test_normalize_type.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@c7a7b4426126d0134d531fc4db34199d39c46298 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/_modules/polyfactory/field_meta.html
  latest/searchindex.js
Due: none

fix: use validate_by_name attribute for factory alias generation
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

build: update dependencies of lock file
  uv.lock
Due: none

refactor!: remove deprecated elements (#703)f
  docs/examples/library_factories/sqlalchemy_factory/test_example_2.py
  docs/examples/library_factories/sqlalchemy_factory/test_example_association_proxy.py
  docs/usage/library_factories/sqlalchemy_factory.rst
  polyfactory/__init__.py
  polyfactory/collection_extender.py
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/field_meta.py
  polyfactory/fields.py
  polyfactory/utils/helpers.py
  polyfactory/value_generators/constrained_numbers.py
  tests/sqlalchemy_factory/test_association_proxy.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_collection_extender.py
  tests/test_factory_fields.py
  tests/test_pytest_plugin.py
Due: mypy, pyright

chore!: drop 3.8 support
  .github/workflows/ci.yml
  polyfactory/constants.py
  polyfactory/value_generators/complex_types.py
  pyproject.toml
  uv.lock
Due: mypy, pyright

fix: use py3.9 union syntax
  tests/test_recursive_models.py
Due: mypy

fix: use py3.9 union syntax
  tests/test_type_coverage_generation.py
Due: mypy

fix: add backport dependency
  pyproject.toml
  uv.lock
Due: none

chore(release): bump to v2.22.0
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore(release): bump to v2.22.0 (#722)
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@f270b0fb46f36b32db0a1c9f9d2cea25c59b8f22 🚀
  latest/searchindex.js
Due: none

fix: deprecation error not silenced when overriden
  polyfactory/factories/base.py
  polyfactory/utils/_internal.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_factory_fields.py
  tests/test_internal.py
Due: mypy, pyright

fix: pydantic 1.10 compatability
  tests/test_factory_fields.py
Due: mypy

fix: handle recursive types
  polyfactory/field_meta.py
  polyfactory/utils/helpers.py
  polyfactory/utils/predicates.py
  tests/test_recursive_models.py
Due: mypy, pyright

fix: handle recursive types
  tests/test_recursive_models.py
Due: mypy

perf: micro-optimize `BaseFactory._infer_model_type`
  polyfactory/factories/base.py
Due: mypy, pyright

fix: allow specifying forward references
  docs/examples/configuration/test_example_11.py
  docs/usage/configuration.rst
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/field_meta.py
  polyfactory/utils/helpers.py
  polyfactory/utils/predicates.py
  tests/test_recursive_models.py
  tests/test_type_coverage_generation.py
Due: mypy, pyright

fix: handle recursive types that use ForwardRef (#728)
  docs/examples/configuration/test_example_11.py
  docs/usage/configuration.rst
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/field_meta.py
  polyfactory/utils/predicates.py
  tests/test_recursive_models.py
  tests/test_type_coverage_generation.py
Due: mypy, pyright

fix: deprecation error not silenced when overridden (#724)
  polyfactory/factories/base.py
  polyfactory/utils/_internal.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_factory_fields.py
  tests/test_internal.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@9fa5c66e224a6ca25f7dbfbae908ca8149c64657 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

chore(release): bump to v2.22.1
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore(release): bump to v2.22.1 (#732)
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Path conditions:
  mypy: any of: \.py$, but not: test_decimal_constraints|examples/fields/test_example_2|examples/configuration|tools/
  pyright: any of: \.py$, but not: tests
