Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy
  entry: uv run mypy
  pass_filenames: true
  require_serial: true
  args: []
  language: system

pyright:
  name: pyright
  entry: uv run pyright
  pass_filenames: true
  args: []
  language: system

feat: notify issues on release
  .github/workflows/notify-released-issues.yml
  .github/workflows/notify_released_issues/get_closed_issues.py
  .github/workflows/notify_released_issues/notify.js
  .github/workflows/publish.yml
Due: mypy, pyright

perf: avoid deep copy
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  pyproject.toml
  uv.lock
Due: mypy, pyright

fix: revert dependency update
  pyproject.toml
  uv.lock
Due: none

fix: use py3.8 syntax
  polyfactory/factories/base.py
Due: mypy, pyright

perf: avoid deep copy (#702)
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@0d55db8a6ac21e559f6524148de8e50323714994 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

refactor!: remove deprecated elements
  polyfactory/__init__.py
  polyfactory/collection_extender.py
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/field_meta.py
  polyfactory/fields.py
  polyfactory/utils/helpers.py
  polyfactory/value_generators/constrained_numbers.py
  tests/sqlalchemy_factory/test_association_proxy.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_collection_extender.py
  tests/test_factory_fields.py
  tests/test_pytest_plugin.py
Due: mypy, pyright

docs: update docs
  docs/examples/library_factories/sqlalchemy_factory/test_example_2.py
  docs/examples/library_factories/sqlalchemy_factory/test_example_association_proxy.py
  docs/usage/library_factories/sqlalchemy_factory.rst
Due: mypy, pyright

docs: add migration guide
  docs/index.rst
  docs/migration_guide/index.rst
  polyfactory/utils/model_coverage.py
Due: mypy, pyright

fix: test by adding inheritance in Child class from Parent
  tests/test_attrs_factory.py
Due: mypy

fix: test by adding inheritance in Child class from Parent (#706)
  tests/test_attrs_factory.py
Due: mypy

Deploying to gh-pages from @ litestar-org/polyfactory@94eb1bfc3f947a4090157bc7bdcec19e8c530dd8 🚀
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

docs: align header lengths
  docs/migration_guide/index.rst
Due: none

Discard changes to polyfactory/utils/model_coverage.py
  polyfactory/utils/model_coverage.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@a34e7d37b727835f4f4aad19dc42c9f5009c366d 🚀
  latest/searchindex.js
Due: none

feat: Added supported pep695 for Pydantic field
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/utils/helpers.py
  polyfactory/utils/predicates.py
Due: mypy, pyright

feat: added test, TypeCompatibilityAdapter and fix PydanticFieldMeta
  polyfactory/factories/pydantic_factory.py
  polyfactory/utils/helpers.py
  tests/test_pydantic_factory.py
  tests/utils/test_type_compatibility_adapter.py
Due: mypy, pyright

fix: ruff and remove extra method from PydanticFieldMeta
  polyfactory/factories/pydantic_factory.py
  polyfactory/utils/helpers.py
Due: mypy, pyright

feat: add test coverage for PEP 695 type aliases in ModelFactory
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/utils/helpers.py
  tests/test_pydantic_factory.py
  tests/utils/test_type_compatibility_adapter.py
Due: mypy, pyright

fix: tests for PEP 695 to work with the create_module function.
  tests/test_pydantic_factory.py
Due: mypy

fix: tests for PEP 695 to work with the create_module function for TestTypeCompatibilityAdapter
  tests/utils/test_type_compatibility_adapter.py
Due: mypy

fix: add Python 3.8+ compatibility for TypeCompatibilityAdapter
  polyfactory/utils/helpers.py
  polyfactory/utils/predicates.py
  tests/utils/test_type_compatibility_adapter.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@d03aa1bfb6221d87cf5d83ad184beaf2d4d77178 🚀
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

refactor!: remove deprecated elements (#703)f
  docs/examples/library_factories/sqlalchemy_factory/test_example_2.py
  docs/examples/library_factories/sqlalchemy_factory/test_example_association_proxy.py
  docs/usage/library_factories/sqlalchemy_factory.rst
  polyfactory/__init__.py
  polyfactory/collection_extender.py
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/field_meta.py
  polyfactory/fields.py
  polyfactory/utils/helpers.py
  polyfactory/value_generators/constrained_numbers.py
  tests/sqlalchemy_factory/test_association_proxy.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_collection_extender.py
  tests/test_factory_fields.py
  tests/test_pytest_plugin.py
Due: mypy, pyright

fix: Generate correct collection size when annotation_types.Len is used
  polyfactory/value_generators/constrained_collections.py
  tests/test_collection_length.py
Due: mypy, pyright

fix: added new skipif marker for tests and reverted to original order for value generation handling
  polyfactory/factories/base.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

fix: ruff
  polyfactory/factories/base.py
Due: mypy, pyright

chore(test): address codereview feedback
  tests/test_collection_length.py
Due: mypy

chore: fix imports
  tests/test_collection_length.py
Due: mypy

chore: clean up tests
  tests/test_collection_length.py
Due: mypy

Update polyfactory/utils/predicates.py
  polyfactory/utils/predicates.py
Due: mypy, pyright

chore(test_collection_length): parametrize collection length
  polyfactory/value_generators/constrained_collections.py
  tests/test_collection_length.py
Due: mypy, pyright

chore(test_collection_length): cleanup
  polyfactory/value_generators/constrained_collections.py
Due: mypy, pyright

fix(test): fix test in CI by updating range to tuple
  tests/test_collection_length.py
Due: mypy

fix(test): improve constraint extraction for pydantic v1 annotated fields
  polyfactory/factories/pydantic_factory.py
  tests/test_collection_length.py
Due: mypy, pyright

fix: type annotation_constraints correctly
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

refactor: replace TypeCompatibilityAdapter class with normalize_type and add normalize_type function to FieldMeta.from_type
  polyfactory/factories/pydantic_factory.py
  polyfactory/field_meta.py
  polyfactory/utils/helpers.py
  polyfactory/utils/normalize_type.py
  polyfactory/utils/predicates.py
  tests/test_dataclass_factory.py
  tests/utils/test_normalize_type.py
Due: mypy, pyright

Path conditions:
  mypy: any of: \.py$, but not: test_decimal_constraints|examples/fields/test_example_2|examples/configuration|tools/
  pyright: any of: \.py$, but not: tests
