Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy
  entry: uv run --all-groups mypy
  language: system
  require_serial: true

pyright:
  name: pyright
  language: system
  entry: uv run --all-groups pyright

chore: update pre-commit
  .pre-commit-config.yaml
  docs/examples/handling_custom_types/test_example_2.py
  polyfactory/factories/attrs_factory.py
  polyfactory/factories/base.py
  polyfactory/factories/beanie_odm_factory.py
  polyfactory/factories/dataclass_factory.py
  polyfactory/factories/msgspec_factory.py
  polyfactory/factories/odmantic_odm_factory.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/factories/typed_dict_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_pydantic_factory.py
  tests/test_pydantic_v1_v2.py
  tests/test_recursive_models.py
  tests/test_type_coverage_generation.py
  tools/build_docs.py
Due: mypy, pyright

chore: update pre-commit
  polyfactory/factories/base.py
  tests/test_type_coverage_generation.py
Due: mypy, pyright

fix(sqlalchemy): skip system columns during persistence (#802)
  polyfactory/factories/sqlalchemy_factory.py
Due: mypy, pyright

chore: update pre-commit version (#847)
  .pre-commit-config.yaml
  docs/examples/handling_custom_types/test_example_2.py
  polyfactory/factories/attrs_factory.py
  polyfactory/factories/base.py
  polyfactory/factories/beanie_odm_factory.py
  polyfactory/factories/dataclass_factory.py
  polyfactory/factories/msgspec_factory.py
  polyfactory/factories/odmantic_odm_factory.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/factories/typed_dict_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_pydantic_factory.py
  tests/test_pydantic_v1_v2.py
  tests/test_recursive_models.py
  tests/test_type_coverage_generation.py
  tools/build_docs.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@c79cebee372fdf7bdde6df973e4996e31586d598 🚀
  latest/_modules/polyfactory/factories/attrs_factory.html
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/polyfactory/factories/beanie_odm_factory.html
  latest/_modules/polyfactory/factories/dataclass_factory.html
  latest/_modules/polyfactory/factories/msgspec_factory.html
  latest/_modules/polyfactory/factories/odmantic_odm_factory.html
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
  latest/_modules/polyfactory/factories/typed_dict_factory.html
  latest/reference/factories/attrs_factory.html
  latest/reference/factories/beanie_odm_factory.html
  latest/reference/factories/dataclass_factory.html
  latest/reference/factories/msgspec_factory.html
  latest/reference/factories/odmantic_odm_factory.html
  latest/reference/factories/pydantic_factory.html
  latest/reference/factories/sqlalchemy_factory.html
  latest/reference/factories/typed_dict_factory.html
  latest/reference/pytest_plugin.html
  latest/usage/handling_custom_types.html
Due: none

Do not expose get_column_default
  polyfactory/factories/sqlalchemy_factory.py
Due: mypy, pyright

fix: handle gt/lt constraints correctly for float values
  polyfactory/value_generators/constrained_numbers.py
Due: mypy, pyright

fix(value_generators): fixes timezone handling for end_date
  polyfactory/value_generators/constrained_dates.py
Due: mypy, pyright

test: add timezone handling test for constrained dates
  tests/constraints/test_date_constraints.py
Due: mypy

test(value_generators): adds assertion checks for timezone usage
  tests/constraints/test_date_constraints.py
Due: mypy

Fix: Support pydantic examples in nested type annotations
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

fix coverage output on constrained optional.
  polyfactory/factories/base.py
  tests/test_type_coverage_generation.py
Due: mypy, pyright

fix ruff
  tests/test_type_coverage_generation.py
Due: mypy

exclude py3.9
  tests/test_type_coverage_generation.py
Due: mypy

ruff fixes
  tests/test_type_coverage_generation.py
Due: mypy

fix: raise clear TypeError when bool tz constraint passed to handle_constrained_date
  polyfactory/value_generators/constrained_dates.py
  tests/test_msgspec_factory.py
Due: mypy, pyright

fix(value_generators): fixes timezone handling for end_date (#833)
  polyfactory/value_generators/constrained_dates.py
  tests/constraints/test_date_constraints.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@ff75c2a734947bf67407938dda479477a8b0739c 🚀
  latest/_modules/polyfactory/value_generators/constrained_dates.html
  latest/_modules/typing.html
  latest/getting-started.html
  latest/index.html
  latest/reference/pytest_plugin.html
Due: none

fix: map bool tz constraint to tzinfo (True→utc, False→None)
  polyfactory/value_generators/constrained_dates.py
  tests/test_msgspec_factory.py
Due: mypy, pyright

fix(msgspec): handle boolean timezone constraints
  polyfactory/factories/base.py
  polyfactory/field_meta.py
  polyfactory/value_generators/constrained_dates.py
  tests/test_msgspec_factory.py
Due: mypy, pyright

fix: handle msgspec Meta tz bool constraint in date generator
  polyfactory/value_generators/constrained_dates.py
Due: mypy, pyright

fix: handle bool tz constraint from msgspec.Meta in handle_constrained_date (#858)
  polyfactory/value_generators/constrained_dates.py
  tests/test_msgspec_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@79305b361cacaa2c7fd5d1adf567f53b4b66b99d 🚀
  latest/_modules/polyfactory/value_generators/constrained_dates.html
  latest/_modules/typing.html
  latest/reference/pytest_plugin.html
  latest/reference/value_generators/constrained_dates.html
  latest/searchindex.js
Due: none

fix: find more supporting BaseFactories for unsupported type
  polyfactory/factories/base.py
Due: mypy, pyright

Manage session lifecycle when the session is created implicitly
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@62a8ff758cabde318307cfe84f309814ddc838fc 🚀
  latest/reference/pytest_plugin.html
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@7445a050d9c194516bea8746f1a489ff5fb940c9 🚀
  latest/reference/pytest_plugin.html
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@cbe0e521e6b7888d2261ee0ec46a3f366b15d72b 🚀
  latest/reference/pytest_plugin.html
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@83ec55e7b6b212976b6a292a568074d473315147 🚀
  latest/reference/pytest_plugin.html
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@47c0eb8e68aaab2bdbfbabd9cfbac139789b44c4 🚀
  latest/reference/pytest_plugin.html
Due: none

feat(sqlalchemy): manage session lifecycle when the session is created implicitly (#869)
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@86e8a16bd05b9867fe6c87e5efb04e051f05223a 🚀
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
  latest/_modules/random.html
  latest/_modules/typing.html
  latest/reference/factories/sqlalchemy_factory.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@be416db7a554675b55f82d895bd07f3f4a88b858 🚀
  latest/reference/pytest_plugin.html
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@93f95253490c5639672730121d607f8d0814a57f 🚀
  latest/reference/pytest_plugin.html
Due: none

fix: guard by_name kwarg for pydantic < 2.11
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

fix: break reference cycles from self-referential PEP 695 type aliases
  polyfactory/field_meta.py
  polyfactory/utils/normalize_type.py
  tests/test_pydantic_factory.py
  tests/utils/test_normalize_type.py
Due: mypy, pyright

fix: Support pydantic examples in nested type annotations (#852)
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@53374f0d89a02263f6ee4c4ac178e2fe72331d5d 🚀
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/reference/decorators.html
  latest/reference/exceptions.html
  latest/reference/factories/attrs_factory.html
  latest/reference/factories/base.html
  latest/reference/factories/beanie_odm_factory.html
  latest/reference/factories/dataclass_factory.html
  latest/reference/factories/msgspec_factory.html
  latest/reference/factories/odmantic_odm_factory.html
  latest/reference/factories/pydantic_factory.html
  latest/reference/factories/sqlalchemy_factory.html
  latest/reference/factories/typed_dict_factory.html
  latest/reference/field_meta.html
  latest/reference/fields.html
  latest/reference/persistence.html
  latest/reference/pytest_plugin.html
  latest/reference/value_generators/complex_types.html
  latest/reference/value_generators/constrained_collections.html
  latest/reference/value_generators/constrained_dates.html
  latest/reference/value_generators/constrained_numbers.html
  latest/reference/value_generators/constrained_strings.html
  latest/reference/value_generators/primitives.html
Due: none

fix: find more supporting BaseFactories for unsupported type (#870)
  polyfactory/factories/base.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@6234cf0af8dd66afd71d14ce5c034ff205485090 🚀
  latest/_modules/polyfactory/factories/base.html
Due: none

Path conditions:
  mypy: any of: \.py$, but not: test_decimal_constraints|examples/fields/test_example_2
  pyright: any of: \.py$, but not: tests
