Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy
  entry: uv run --all-groups mypy
  language: system
  require_serial: true

pyright:
  name: pyright
  language: system
  entry: uv run --all-groups pyright

chore: remove 3.8 from pypi classifiers
  pyproject.toml
Due: none

feat: support ZoneInfo
  polyfactory/factories/base.py
Due: mypy, pyright

docs: fix pre-commit mention in favor of prek
  CONTRIBUTING.rst
Due: none

Change default docs light theme
  docs/conf.py
Due: mypy, pyright

feat: support ZoneInfo (#806)
  polyfactory/factories/base.py
  pyproject.toml
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@7778f16d004ccca2dec2f37be490d58d34eb1d73 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/typing.html
  latest/reference/pytest_plugin.html
Due: none

docs: fix pre-commit mention in favor of prek (#807)
  CONTRIBUTING.rst
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@be7636980f69e9d17f4be4c5cc9a4c63f1be5803 🚀
  latest/contribution-guide.html
Due: none

fix: add `scoped_session` and `async_scoped_session` to type annotations (#800)
  polyfactory/factories/sqlalchemy_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@6ca6daa10de3781f7d9f529c168cb35eb5575ec3 🚀
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
Due: none

chore: update classifiers
  pyproject.toml
Due: none

chore: update classifiers (#810)
  pyproject.toml
Due: none

fix: update literal detection for 3.14 compatibility
  polyfactory/utils/predicates.py
  tests/utils/test_predicates.py
Due: mypy, pyright

fix: add test
  tests/utils/test_predicates.py
Due: mypy

refactor: remove from build context
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

feat: support pydantic by_name
  docs/examples/configuration/test_example_12.py
  docs/usage/configuration.rst
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

fix: update literal detection for 3.14 compatibility (#811)
  polyfactory/utils/predicates.py
  tests/utils/test_predicates.py
Due: mypy, pyright

feat: support pydantic by_name (#781)
  docs/examples/configuration/test_example_12.py
  docs/usage/configuration.rst
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@a0be0cc3cfa5fc9a024d5aa3a125e7345364137c 🚀
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/_sources/usage/configuration.rst.txt
  latest/genindex.html
  latest/objects.inv
  latest/reference/factories/pydantic_factory.html
  latest/searchindex.js
  latest/usage/configuration.html
Due: none

fix: change default docs light theme (#808)
  docs/conf.py
Due: mypy, pyright

chore: prepare v3.2.0 release
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore: prepare v3.2.0 release (#812)
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

fix: handle constrained datetimes
  polyfactory/value_generators/constrained_dates.py
  tests/constraints/test_date_constraints.py
  tests/constraints/test_datetime_constraints.py
Due: mypy, pyright

fix: handle constrained datetimes
  polyfactory/factories/base.py
  polyfactory/value_generators/constrained_dates.py
  tests/constraints/test_date_constraints.py
  tests/constraints/test_datetime_constraints.py
Due: mypy, pyright

fix: improve test stability
  tests/sqlalchemy_factory/conftest.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy

fix: improve test stability (#813)
  tests/sqlalchemy_factory/conftest.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy

Add support for Computed fields
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/models.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Fixed potentially insecure test case
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy

Skip computed fields based on the flag from build context
  polyfactory/factories/base.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/field_meta.py
Due: mypy, pyright

Remove unused import
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy

fix tests
  polyfactory/utils/normalize_type.py
  polyfactory/utils/predicates.py
Due: mypy, pyright

add newer python versions
  docs/conf.py
Due: mypy, pyright

fix broken test
  polyfactory/factories/typed_dict_factory.py
Due: mypy, pyright

lint fix
  polyfactory/utils/normalize_type.py
Due: mypy, pyright

Path conditions:
  mypy: any of: \.py$, but not: test_decimal_constraints|examples/fields/test_example_2
  pyright: any of: \.py$, but not: tests
