Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

default_language_version:
  python: "3.13"
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.1.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: https://github.com/pycontribs/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        exclude: ".all-contributorsrc"
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        exclude: "uv.lock"
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        pass_filenames: true
        require_serial: true
        args: []
        language: system
        types: [python]
        exclude: "test_decimal_constraints|examples/fields/test_example_2|examples/configuration|tools/"
      - id: pyright
        name: pyright
        entry: uv run pyright
        pass_filenames: true
        args: []
        language: system
        types: [python]
        exclude: "tests"
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: "v1.0.0"
    hooks:
      - id: sphinx-lint

Deploying to gh-pages from @ litestar-org/polyfactory@a14ac7ff61769df18d509799f8d94c7581e482dd 🚀
  latest/searchindex.js
Due: none

refactor!: remove deprecated elements (#703)f
  docs/examples/library_factories/sqlalchemy_factory/test_example_2.py
  docs/examples/library_factories/sqlalchemy_factory/test_example_association_proxy.py
  docs/usage/library_factories/sqlalchemy_factory.rst
  polyfactory/__init__.py
  polyfactory/collection_extender.py
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/field_meta.py
  polyfactory/fields.py
  polyfactory/utils/helpers.py
  polyfactory/value_generators/constrained_numbers.py
  tests/sqlalchemy_factory/test_association_proxy.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_collection_extender.py
  tests/test_factory_fields.py
  tests/test_pytest_plugin.py
Due: mypy, pyright

fix: allow specifying forward references when as string
  polyfactory/factories/base.py
  polyfactory/field_meta.py
  tests/test_recursive_models.py
Due: mypy, pyright

fix: pydantic alias handling
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

fix: skip pydantic 1
  tests/test_pydantic_factory.py
Due: mypy

fix: pydantic alias handling (#737)
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

fix: pre-commit
  polyfactory/factories/beanie_odm_factory.py
Due: mypy, pyright

fix: allow specifying forward references when as string (#735)
  polyfactory/factories/base.py
  polyfactory/factories/beanie_odm_factory.py
  polyfactory/field_meta.py
  tests/test_recursive_models.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@8e14c35ee46a8203844ec45728a8d65f7e847869 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/polyfactory/factories/beanie_odm_factory.html
  latest/_modules/polyfactory/field_meta.html
  latest/genindex.html
  latest/objects.inv
  latest/reference/field_meta.html
  latest/searchindex.js
Due: none

chore(release): bump to v2.22.2
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore: update changelog
  docs/changelog.rst
Due: none

chore(release): bump to v2.22.2 (#738)
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@63eaa9f5e2806791142b559932b103fc524a5a52 🚀
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@0c610f10e433fdb760028d14dc8c81d29db52f40 🚀
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@5e605dce981865c6e3af073a4da74585009cd4c3 🚀
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@62d92c90d79bdf18776d0b3046bd3c0e10555815 🚀
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@16d847b961d8c16415dc3e7a63d0d4f4b411a348 🚀
  latest/searchindex.js
Due: none

fix: use validate_by_name attribute for factory alias generation
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

docs: amend typos
  docs/migration_guide/index.rst
Due: none

fix: Pydantic Factory alias generation from version 2.11 (#718)
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@0358ad0950bf3816be352ca9ed34370c05e9f94e 🚀
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

fix: remove association proxy default change
  polyfactory/factories/sqlalchemy_factory.py
  pyproject.toml
Due: mypy, pyright

chore: amend testing path
  pyproject.toml
Due: none

fix: remove unused tests
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_factory_fields.py
Due: mypy

chore: update docs ui
  docs/_static/custom.css
  docs/_static/logo-default.png
  docs/conf.py
  docs/index.rst
Due: mypy, pyright

chore: update docs ui (#748)
  docs/_static/custom.css
  docs/_static/logo-default.png
  docs/conf.py
  docs/index.rst
Due: mypy, pyright

chore: Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Update .github/CODEOWNERS
  .github/CODEOWNERS
Due: none

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

chore: Update CODEOWNERS (#749)
  .github/CODEOWNERS
Due: none
