Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy
  entry: uv run --all-groups mypy
  language: system
  require_serial: true

pyright:
  name: pyright
  language: system
  entry: uv run --all-groups pyright

python 3.10 and python 3.11+ compatible Union
  polyfactory/utils/normalize_type.py
Due: mypy, pyright

deprecate python 3.9
  .github/workflows/ci.yml
  .sourcery.yaml
  docs/conf.py
  docs/examples/configuration/test_example_11.py
  docs/reference/constants.rst
  polyfactory/constants.py
  polyfactory/factories/odmantic_odm_factory.py
  polyfactory/value_generators/constrained_strings.py
  pyproject.toml
  tests/constraints/test_list_constraints.py
  tests/test_generics.py
  tests/test_msgspec_factory.py
  tests/test_pydantic_factory.py
  tests/test_random_configuration.py
  tests/test_recursive_models.py
  tests/utils/test_predicates.py
  uv.lock
Due: mypy, pyright

another fix?
  polyfactory/factories/typed_dict_factory.py
  tests/test_type_coverage_generation.py
  tests/test_typeddict_factory.py
Due: mypy, pyright

fix broken test
  polyfactory/factories/typed_dict_factory.py
Due: mypy, pyright

add newer python versions
  docs/conf.py
Due: mypy, pyright

fix tests
  polyfactory/utils/normalize_type.py
  polyfactory/utils/predicates.py
Due: mypy, pyright

address linting issues
  polyfactory/factories/typed_dict_factory.py
  tests/test_type_coverage_generation.py
  tests/test_typeddict_factory.py
Due: mypy, pyright

Add __persistence__method__ to choose between flush or commit
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Update docs
  docs/examples/library_factories/sqlalchemy_factory/test_example_persistence_method.py
  docs/usage/library_factories/sqlalchemy_factory.rst
Due: mypy, pyright

feat: add `__persistence__method__` to SQLAlchemyFactory (#818)
  docs/examples/library_factories/sqlalchemy_factory/test_example_persistence_method.py
  docs/usage/library_factories/sqlalchemy_factory.rst
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Add support for Computed fields
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/models.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Fixed potentially insecure test case
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy

Retrigger ci
  polyfactory/factories/base.py
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

feat: add support for SQLAlchemy computed fields (#799)
  polyfactory/factories/base.py
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/models.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@c5916007689f8e13dd4a4531e0abcb268056e34f 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
  latest/genindex.html
  latest/objects.inv
  latest/reference/factories/sqlalchemy_factory.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

leave the async session opened after persisting data
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_association_proxy.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

fix: Leave the async session opened after persisting data in `SQLAASyncPersistence` (#826)
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_association_proxy.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@9fe33dd5c59a27a796a849751e362ac6b274dc1f 🚀
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
  latest/reference/pytest_plugin.html
Due: none

chore: prepare v3.3.0 release
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore: prepare v3.3.0 release (#828)
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

fix: update resolution order to favour provider types
  polyfactory/factories/base.py
  tests/test_provider_map.py
Due: mypy, pyright

fix: update resolution order to favour provider types (#832)
  polyfactory/factories/base.py
  tests/test_provider_map.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@4d911cb3ada16385405200d06855e023af41dac6 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/typing.html
  latest/reference/pytest_plugin.html
Due: none

fix(value_generators): fixes timezone handling for end_date
  polyfactory/value_generators/constrained_dates.py
Due: mypy, pyright

docs: fix fixture type annotations in examples
  docs/examples/fixtures/test_example_1.py
  docs/examples/fixtures/test_example_2.py
  docs/examples/fixtures/test_example_3.py
Due: mypy, pyright

docs: fix fixture type annotations in examples (#834)
  docs/examples/fixtures/test_example_1.py
  docs/examples/fixtures/test_example_2.py
  docs/examples/fixtures/test_example_3.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@8f29781a8268f3f0afe9e93758a9d8edf9fb4fd7 🚀
  latest/reference/pytest_plugin.html
  latest/usage/fixtures.html
Due: none

fix(msgspec): handle boolean tz constraint from Meta (#768)
  polyfactory/value_generators/constrained_dates.py
Due: mypy, pyright

fix: return datetime instead of date for constrained datetime fields (#734)
  polyfactory/factories/base.py
  polyfactory/value_generators/constrained_dates.py
Due: mypy, pyright

feat: support non-mutable Mapping containers (#726)
  polyfactory/value_generators/complex_types.py
Due: mypy, pyright

Skip SQLAlchemy model fields with default values
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Path conditions:
  mypy: any of: \.py$, but not: test_decimal_constraints|examples/fields/test_example_2
  pyright: any of: \.py$, but not: tests
