Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

mypy:
  name: mypy
  entry: uv run mypy
  pass_filenames: true
  require_serial: true
  args: []
  language: system

pyright:
  name: pyright
  entry: uv run pyright
  pass_filenames: true
  args: []
  language: system

Apply suggestion from @adhtruong
  polyfactory/factories/base.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@d6f4df7071062ff07f4f578533b2b03308ea456f 🚀
  latest/searchindex.js
Due: none

chore: prepare v2.22.5 release
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore: prepare v2.22.5 release (#778)
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

refactor!: remove deprecated elements (#703)f
  docs/examples/library_factories/sqlalchemy_factory/test_example_2.py
  docs/examples/library_factories/sqlalchemy_factory/test_example_association_proxy.py
  docs/usage/library_factories/sqlalchemy_factory.rst
  polyfactory/__init__.py
  polyfactory/collection_extender.py
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/field_meta.py
  polyfactory/fields.py
  polyfactory/utils/helpers.py
  polyfactory/value_generators/constrained_numbers.py
  tests/sqlalchemy_factory/test_association_proxy.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_collection_extender.py
  tests/test_factory_fields.py
  tests/test_pytest_plugin.py
Due: mypy, pyright

fix: remove unused tests
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_factory_fields.py
Due: mypy

chore: update docs ui (#748)
  docs/_static/custom.css
  docs/_static/logo-default.png
  docs/conf.py
  docs/index.rst
Due: mypy, pyright

chore: prepare v3 release
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Update polyfactory/factories/base.py
  polyfactory/factories/base.py
Due: mypy, pyright

perf: micro-optimize `BaseFactory._infer_model_type` (#731)
  polyfactory/factories/base.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@e5fb6bf6c1f6de8ec2fb3943305a2d7f593b8620 🚀
  latest/_modules/polyfactory/factories/base.html
Due: none

ci: add test_success to simplify PR check
  .github/workflows/ci.yml
Due: none

Potential fix for code scanning alert no. 23: Workflow does not contain permissions
  .github/workflows/ci.yml
Due: none

ci: add test_success to simplify PR check (#780)
  .github/workflows/ci.yml
Due: none

fix: handle constrained datetimes
  polyfactory/factories/base.py
  polyfactory/value_generators/constrained_dates.py
  tests/constraints/test_date_constraints.py
  tests/constraints/test_datetime_constraints.py
Due: mypy, pyright

fix: handle constrained datetimes
  polyfactory/value_generators/constrained_dates.py
  tests/constraints/test_date_constraints.py
  tests/constraints/test_datetime_constraints.py
Due: mypy, pyright

Add support for known collection classes
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/models.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy, pyright

Add support for custom types
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/sqlalchemy_factory/types.py
Due: mypy, pyright

Fixed imports for SQLAlchemy < 2.0
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
Due: mypy

Set proper field annotation before generating a collection
  polyfactory/factories/sqlalchemy_factory.py
Due: mypy, pyright

Apply linters
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/sqlalchemy_factory/types.py
Due: mypy, pyright

feat: support typeddict NotRequired fields
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/typed_dict_factory.py
  polyfactory/field_meta.py
  polyfactory/utils/model_coverage.py
  tests/test_typeddict_factory.py
Due: mypy, pyright

Make mypy & pyright happy
  polyfactory/factories/sqlalchemy_factory.py
Due: mypy, pyright

feat: support NotRequired fields in TypedDictFactory (#785)
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/typed_dict_factory.py
  polyfactory/field_meta.py
  polyfactory/utils/model_coverage.py
  tests/test_typeddict_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@c54880f3403120294bb691cecc6861162272ca70 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/_modules/polyfactory/factories/typed_dict_factory.html
  latest/_modules/polyfactory/field_meta.html
  latest/reference/factories/pydantic_factory.html
  latest/reference/field_meta.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

feat: support for custom `collection_class` in SQLAlchemy relationships (#776)
  polyfactory/factories/sqlalchemy_factory.py
  tests/sqlalchemy_factory/models.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/sqlalchemy_factory/types.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@77031a54060777f3aa9483989a71c7d0764ebde7 🚀
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
Due: none

refactor: remove from build context
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

feat: support pydantic by_name
  docs/examples/configuration/test_example_12.py
  docs/usage/configuration.rst
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

Path conditions:
  mypy: any of: \.py$, but not: test_decimal_constraints|examples/fields/test_example_2|examples/configuration|tools/
  pyright: any of: \.py$, but not: tests
