Repository litestar-org/polyfactory: changes, and which pre-commit hooks are due for each by the changed paths.
All: mypy, pyright

.pre-commit-config.yaml:

default_language_version:
  python: "3.13"
repos:
  - repo: https://github.com/compilerla/conventional-pre-commit
    rev: v4.1.0
    hooks:
      - id: conventional-pre-commit
        stages: [commit-msg]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-ast
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-toml
      - id: debug-statements
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: "v0.11.8"
    hooks:
      - id: ruff
        args: ["--fix"]
      - id: ruff-format
  - repo: https://github.com/crate-ci/typos
    rev: v1.32.0
    hooks:
      - id: typos
  - repo: https://github.com/pycontribs/mirrors-prettier
    rev: "v3.5.3"
    hooks:
      - id: prettier
        exclude: ".all-contributorsrc"
  - repo: https://github.com/ComPWA/taplo-pre-commit
    rev: v0.9.3
    hooks:
      - id: taplo-format
        exclude: "uv.lock"
  - repo: local
    hooks:
      - id: mypy
        name: mypy
        entry: uv run mypy
        pass_filenames: true
        require_serial: true
        args: []
        language: system
        types: [python]
        exclude: "test_decimal_constraints|examples/fields/test_example_2|examples/configuration|tools/"
      - id: pyright
        name: pyright
        entry: uv run pyright
        pass_filenames: true
        args: []
        language: system
        types: [python]
        exclude: "tests"
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: "v1.0.0"
    hooks:
      - id: sphinx-lint

Deploying to gh-pages from @ litestar-org/polyfactory@572a47c391178638fd2e27aa11d6be3b0695851e 🚀
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

Update docs/migration_guide/index.rst
  docs/migration_guide/index.rst
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@1b2603481ced3282647f69a28aa7c3eff0366135 🚀
  latest/getting-started.html
  latest/index.html
  latest/reference/decorators.html
  latest/reference/exceptions.html
  latest/reference/factories/attrs_factory.html
  latest/reference/factories/base.html
  latest/reference/factories/beanie_odm_factory.html
  latest/reference/factories/dataclass_factory.html
  latest/reference/factories/msgspec_factory.html
  latest/reference/factories/odmantic_odm_factory.html
  latest/reference/factories/pydantic_factory.html
  latest/reference/factories/sqlalchemy_factory.html
  latest/reference/factories/typed_dict_factory.html
  latest/reference/field_meta.html
  latest/reference/fields.html
  latest/reference/persistence.html
  latest/reference/pytest_plugin.html
  latest/reference/value_generators/complex_types.html
  latest/reference/value_generators/constrained_collections.html
  latest/reference/value_generators/constrained_dates.html
  latest/reference/value_generators/constrained_numbers.html
  latest/reference/value_generators/constrained_strings.html
  latest/reference/value_generators/primitives.html
  latest/searchindex.js
  latest/usage/configuration.html
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@5ec0b0134eef33beb699c5f91ba5e3a5058ce405 🚀
  latest/searchindex.js
Due: none

Update pyproject.toml
  pyproject.toml
Due: none

fix: remove association proxy default change (#747)
  polyfactory/factories/sqlalchemy_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@81bfbc2519148af1ac46fad37d65be381d444ea3 🚀
  latest/_modules/polyfactory/factories/sqlalchemy_factory.html
  latest/_modules/typing.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none

docs: add migration guide (#704)
  docs/index.rst
  docs/migration_guide/index.rst
Due: none

chore: remove unused script (#716)
  .pre-commit-config.yaml
  tools/build_docs.py
  tools/convert_docs.sh
Due: pyright

Deploying to gh-pages from @ litestar-org/polyfactory@c87481a8074bf5196a29c5c362e39746e2304087 🚀
  latest/searchindex.js
Due: none

fix: update prepare-release.sh
  tools/prepare-release.sh
Due: none

chore: prepare 2.22.3 release
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore: prepare v2.22.3 release (#761)
  docs/changelog.rst
  pyproject.toml
  tools/prepare-release.sh
  uv.lock
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@ad0a768f4d29f46f07c6fb64470639a1bf48b5e6 🚀
  latest/searchindex.js
Due: none

refactor!: remove deprecated elements (#703)f
  docs/examples/library_factories/sqlalchemy_factory/test_example_2.py
  docs/examples/library_factories/sqlalchemy_factory/test_example_association_proxy.py
  docs/usage/library_factories/sqlalchemy_factory.rst
  polyfactory/__init__.py
  polyfactory/collection_extender.py
  polyfactory/factories/base.py
  polyfactory/factories/pydantic_factory.py
  polyfactory/factories/sqlalchemy_factory.py
  polyfactory/field_meta.py
  polyfactory/fields.py
  polyfactory/utils/helpers.py
  polyfactory/value_generators/constrained_numbers.py
  tests/sqlalchemy_factory/test_association_proxy.py
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_collection_extender.py
  tests/test_factory_fields.py
  tests/test_pytest_plugin.py
Due: mypy, pyright

fix: remove unused tests
  tests/sqlalchemy_factory/test_sqlalchemy_factory_common.py
  tests/test_factory_fields.py
Due: mypy

chore: update docs ui (#748)
  docs/_static/custom.css
  docs/_static/logo-default.png
  docs/conf.py
  docs/index.rst
Due: mypy, pyright

loop through examples when using `coverage`
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

python 3.9 compatibility
  tests/test_pydantic_factory.py
Due: mypy

docs: fix typo in pydantic_factory.coverage doc string
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

docs: fix typo in pydantic_factory.coverage doc string (#763)
  polyfactory/factories/pydantic_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@b8d0c6f9398282b371070307610bf95951ec3968 🚀
  latest/searchindex.js
Due: none

fix: model coverage generation and __use_examples__ do not compose well (#757)
  polyfactory/factories/pydantic_factory.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@45958e4e583a873eb31bdd7ff3f01d5894efab93 🚀
  latest/_modules/polyfactory/factories/pydantic_factory.html
  latest/genindex.html
  latest/objects.inv
  latest/reference/factories/pydantic_factory.html
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@213ea1cdc5b4281ab51202827d72c274e4816070 🚀
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@0626847d1d80e1c52a678b0e51d5e97112237177 🚀
  latest/searchindex.js
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@7d67749fa82c44c2930657a7ab2e19cf438bb2f9 🚀
  latest/searchindex.js
Due: none

Fix: Use correct field_meta for constrained union types when building field values for coverage
  polyfactory/factories/base.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

chore: prepare v2.22.4
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

chore: prepare v2.22.4 release (#775)
  docs/changelog.rst
  pyproject.toml
  uv.lock
Due: none

Deploying to gh-pages from @ litestar-org/polyfactory@2e5c768a06d934ca4e1d0222e5a025cce8c4ea38 🚀
  latest/searchindex.js
Due: none

fix: Use correct field_meta for constrained union types when building field values for coverage (#770)
  polyfactory/factories/base.py
  tests/test_pydantic_factory.py
Due: mypy, pyright

Deploying to gh-pages from @ litestar-org/polyfactory@af24258a49faecc8da44b43c3acd64b020882cb9 🚀
  latest/_modules/polyfactory/factories/base.html
  latest/reference/pytest_plugin.html
  latest/searchindex.js
Due: none
